body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-top: 70px;
}

h1 {
    color: red;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2 {
    color: red;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 20px;
}